<div class="h-screen">
    <div class="container mx-auto mt-10 flex justify-center">
        <div class="w-2/4">
            <h3 class="text-2xl font-bold mb-10">Create a product</h3>
            <div>
                <form id="product-form" onsubmit="createProduct(event)" class="flex flex-col gap-3">
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Title
                        </label>
                        <input type="text" name="title"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Description
                        </label>
                        <input type="text" name="description"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Category
                        </label>
                        <input type="text" name="category"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Price
                        </label>
                        <input type="number" name="price"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Stock
                        </label>
                        <input type="text" name="stock"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <div class="w-full relative">
                        <label for="name-with-label" class="text-gray-700">
                            Images
                        </label>
                        <input type="file" name="thumbnails"
                            class=" rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            name="email" placeholder="Your name" />
                    </div>
                    <input
                        class="bg-slate-900 mt-5 hover:bg-slate-700 cursor-pointer w-full text-white font-bold rounded-md px-4 py-2"
                        type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/statics/js/newproduct.js"></script>